<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twig</title>
</head>
<body>
    {% for article in articles %}
        {% if article.enabled %}
            <article>
            <header>
                <h1>{{ article.name }}</h1>
            </header>
            <p>{{ article.content }}</p>
            <footer>
                <time datetime="{{ article.date|date('c') }}">{{ article.date|date('d-m-Y') }}</time>
            </footer>
            </article>
        {% endif %}
    {% endfor %}
</body>
</html>
